{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products_Women</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .column {
        float: left;
        width: 50%;
      }
      
      /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    </style>

</head>
<body bgcolor="#DDDDDD">
    
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #C9CCD5;">
      <div class="container">
        <a class="navbar-brand" href="#" >Amatra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="products_women">Women's Fashion</a></li>
                <li><a class="dropdown-item" href="products_men">Men's Fashion</a></li>
                <li><a class="dropdown-item" href="products_child">Kid's Fashion</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="cart">Cart
                  <i class="bi bi-cart3"></i>
              </a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a class="nav-link active" aria-current="page" href="signout">Sign out
                <i class="bi bi-box-arrow-in-right"></i>
            </a>
            </li>
            <li class="nav-item">
              <p style="position: reltive; top: 10%;">Hi {{user.username}}!</h6>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="signin">Sign in
                  <i class="bi bi-box-arrow-in-right"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="signup">Sign up
                  <i class="bi bi-check-lg"></i>
              </a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex" action="search" method="post">
            {% csrf_token %}
            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

      
      <!-- Carousel -->

      <div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                <img src="{% static 'west1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'west2.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'west3.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'west4.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'west5.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'west6.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>


      <div style=" background-color: #EEEEEE; padding-top: 70px; height: 10rem;">
          <h4 style="text-align: center;font-family: Gill Sans, sans-serif;">S U M M E R - F A S H I O N - F I X</h4>
          <h5 style="text-align: center;font-family: Gill Sans, sans-serif; color:#AAA492">Get ready for a stylish season ahead!</h5>
      </div>

      <div style=" background-color: #EEEEEE;">
        <div class="box">
          <div class="row" style="padding-top: 50px;" >
            <div class="column" style=" background-color: #EEEEEE;">
              <div class="card" style="width: 30rem; height:22rem; background-color: #EEEEEE;position:relative; left:30%;">
                <img src="{% static 'women1.png' %}" class="card-img-top" alt="..." style=" height: 22rem; position:relative; left:0%;">
                
              </div>
            </div>
            <div class="column"> 
              <div class="card" style="width: 30rem; height:22rem; background-color: #EEEEEE;position:relative; right:3%;" >
                <img src="{% static 'women2.png' %}" class="card-img-top" alt="..." style=" height: 22rem; position:relative; right:0%;">
                
              </div>
            </div>
          </div>
        </div>
      </div>




      <div style=" background-color: #EEEEEE;">
        <div class="container" style=" background-color: #EEEEEE;">
          <div class="row" style="padding-top: 100px;">
              <div class="col-sm-3">
                  <div class="card">
                    <a href="w_handbags">
                      <img class="card-img-top img-fluid" src="{% static 'women3.png' %}" alt="..." style="height: 20rem; width:17rem;">
                    </a>
                  </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <a href="w_footwear">
                    <img class="card-img-top img-fluid" src="{% static 'women4.png' %}" alt="..." style="height: 20rem; width:17rem;">
                  </a>

                  
                  
              </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                    <a href="w_jewel">
                      <img class="card-img-top img-fluid" src="{% static 'women5.png' %}" alt="..." style="height: 20rem; width:17rem;">
                    </a>
                      
                      
                  </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <img class="card-img-top img-fluid" src="{% static 'women6.png' %}" alt="..." style="height: 20rem; width:17rem;">
                  
              </div>
              </div>
              
              
              
              
          </div>
      </div>
  
      </div>
      

      <div style=" background-color: #EEEEEE; padding-top: 60px; height: 10rem;">
        <h4 style="text-align: center;font-family: Gill Sans, sans-serif;">C O L O U R - S P L A S H</h4>
        <h5 style="text-align: center;font-family: Gill Sans, sans-serif; color:#AAA492">Bring mood-boosting hues into your closet</h5>
    </div>



    <div style=" background-color: #EEEEEE;">
      <div class="container" style=" background-color: #EEEEEE;text-align:center;">
        <div class="row" style="padding-top: 50px;">
            <div class="col-sm-4">
                <div class="card" style="height: 20rem; width:19rem;">
                    <img class="card-img-top img-fluid" src="{% static 'women7.png' %}" alt="..." style="height: 20rem; width:19rem;">
                    
                </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="height: 20rem; width:19rem;">
                <img class="card-img-top img-fluid" src="{% static 'women8.png' %}" alt="..." style="height: 20rem; width:19rem;">
                
            </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="height: 20rem; width:19rem;">
                    <img class="card-img-top img-fluid" src="{% static 'women9.png' %}" alt="..." style="height: 20rem; width:19rem;">
                    
                </div>
            </div>
            
        </div>
    </div>

    </div>



    <div style=" background-color: #EEEEEE;">
      <div class="container" style=" background-color: #EEEEEE;">
        <div class="row" style="padding-top: 100px;">
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{% static 'women10.png' %}" alt="..." style="height: 22rem; width:17rem;">
                    
                </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'women11.png' %}" alt="..." style="height: 22rem; width:17rem;">
                
            </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{% static 'women12.png' %}" alt="..." style="height: 22rem; width:17rem;">
                    
                </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'women13.png' %}" alt="..." style="height: 22rem; width:17rem;">
                
            </div>
            </div>
            
            
            
            
        </div>
    </div>

    </div>



    <div style=" background-color: #EEEEEE; padding-top: 60px; height: 10rem;">
      <h4 style="text-align: center;font-family: Gill Sans, sans-serif;">C R A F T C O R E - C H A R M</h4>
      <h5 style="text-align: center;font-family: Gill Sans, sans-serif; color:#AAA492">Vintage-inspired trends for the season</h5>
  </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>